<section class="h-100 w-100 d-flex flex-wrap">
    <header class="d-flex flex-wrap justify-content-between align-items-center col-12 px-3">
        <button mat-button class="white" [routerLink]="['/movies']">Movies
            <mat-icon fontSet="material-icons-outlined">movie</mat-icon>
        </button>
        <a href="https://github.com/Alireza-Avarsaji">
            <img src="../assets/images/icons8-github (1).svg" matTooltip="star me on github:)">
        </a>
    </header>
    <main class=" col-12 p-4 mt-5">
        <router-outlet></router-outlet>
    </main>
</section>
