<section class="d-flex flex-wrap col-12 justify-content-start align-items-start">

  <div *ngFor="let movie of movies; let i = index" class="col-3 p-2">
    <mat-card class="example-card col-12">
        <img mat-card-image [src]="movie.url" alt="movie photo">
        <mat-card-content>
          <p>{{movie?.name}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button matTooltip="new comment" (click)="createComment(movie)">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
          <button mat-icon-button matTooltip="all comments" [routerLink]="['/comments', i]">
            <mat-icon>notes</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
  </div>


</section>
